.navbar {
    overflow: hidden;
    display: inline-block;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    background-color: white;
    margin-bottom: 15px;
}

.logo {
    margin: 0;
    padding: 5px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
}

.navbar a {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    text-align: center;
    text-decoration: none;
    padding: 20px 15px;
    color: #2188ab;
    font-weight: 500;
}

.navbar a:hover {
    background-color: #f5f5fa;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* 
    Add some top padding to the page content to prevent sudden quick movement
    (as the navigation bar gets a new position 
    at the top of the page (position:fixed and top:0)) 
*/
.sticky + main {
    padding-top: 100px;
}